@mixin sf-regular {
  font-family: "SFPro-Regular", "Arial", sans-serif;
  font-weight: 400;
}

$width-mobile-only: 767px;
$width-tablet: 768px;
$width-desktop: 1280px;

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  @include sf-regular;
  margin: 0;
  padding: 0;
  min-width: 320px;
  font-size: 17px;
  line-height: 26px;
  position: relative;

  @media (max-width: 1199px) {
    outline: 0 none;
  }
}

html, body {
  overflow-x: hidden;
}

*, *::before, *::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  margin: 0;
}

input, button, textarea, select {
  @media (max-width: 1199px) {
    outline: 0 none;
  }
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 15px;

  @media (min-width: $width-tablet) {
    padding: 0 20px;
  }

  @media (min-width: $width-desktop) {
    padding: 0 30px 90px;
  }
}

.fixed-crossbrowser-background {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 100vw 100vh;
  background-image: url(../images/bg-dessertsmobile.jpg);
  opacity: 1;
  z-index: -1;

  @media (min-width: 1200px) {
    background-image: url(../images/bg-desserts.jpg);
    background-size: cover;
  }
}

.page-section {
  position: relative;
  padding: 12vh 0 10px;

  &.top {
    background-image: url(../images/bg-top.jpg);
  }
  
  @media (min-width: $width-tablet) {
    padding: 12vh 0 50px;
    min-height: 100vh;
  }

  @media (min-width: 800px) {
    padding-top: 14vh;
  }

  @media (min-width: 965px) and (max-width: 1279px) {
    padding-top: 20vh;
  }

  @media (min-width: $width-desktop) {
    padding-top: 70px;
  }

  &--inner {
    @media (max-width: 767px) {
      background-attachment: fixed;
      background-size: 100vh;
      background-position: 100%;
      background-repeat: no-repeat;
    }
  }

  &.top {
    min-height: 100vh;
  }
}

.title {
  font-size: 35px;
  line-height: 45px;
  margin-bottom: 32px;
  color: #fff;
  
  @media (min-width: 450px) {
    font-size: 44px;
    line-height: 53px;
  }
  
  @media (min-width: 700px) {
    padding-left: 25px;
  }

  @media (min-width: $width-desktop) {
    padding-top: 32px;
    color: #000;
  }
}

.logo__image {
  @media (min-width: 600px) {
    width: 180px;
    height: 47px;
  }
  
  @media (min-width: 768px) {
    width: 175px;
    height: 52px;
  }

  @media (max-width: 600px) {
    width: 120px;
    height: 40px;
  }

  @media (max-width: 440px) {
    width: 100px;
    height: 40px;
  }

  @media (max-width: 350px) {
    width: 80px;
    height: 33px;
  }
}

.required {
  color: #A72618;

  @media (max-width: 392px) {
    display: none;
  }
}

.visually-hidden,
input [type="checkbox"].visually-hidden,
input [type="radio"].visually-hidden {
  &:not(:focus):not(:active) {
    position: absolute;
  
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
  
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
  }
}

.fp-responsive .fp-section,
.fp-responsive .fp-slide,
.fp-responsive .fp-tableCell {
  height: auto !important;
}
