@mixin sf-regular {
  font-family: "SFPro-Regular", "Arial", sans-serif;
  font-weight: 400;
}

@mixin sf-medium {
  font-family: "SFPro-Medium", "Arial", sans-serif;
  font-weight: 500;
}

@mixin sf-semibold {
  font-family: "SFPro-Semibold", "Arial", sans-serif;
  font-weight: 600;
}
