@mixin sf-semibold {
  font-family: "SFPro-Semibold", "Arial", sans-serif;
  font-weight: 600;
}

$width-mobile-only: 767px;
$width-tablet: 768px;
$width-desktop: 1280px;

.about-us__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @media (min-width: 1025px) {
    flex-wrap: nowrap;
  }
}

.about-us__text-inner {

  @media (min-width: 550px) and (max-width: 1024px) {
    margin-bottom: 10px;
  }
  
  @media (min-width: 768px) {
    max-height: 600px;
    overflow-y: scroll;
  }

  @media (min-width: 1025px) {
    margin-right: 25px;
  }

  @media (min-width: 1200px) {
    overflow-y: hidden;
  }
}

.about-us__text {
  width: 100%;
  max-width: 900px;
  margin-bottom: 17px;
  font-size: 15px;
  line-height: 150%;
  color: #fff;
  
  @media (min-width: 450px) {
    font-size: 17px;
  }
  
  @media (min-width: 1025px) {
    width: 50vw;
    max-width: 600px;
  }
  
  @media (min-width: 950px) {
    padding-left: 55px;
    margin-bottom: 25px;
  }
}

.about-us__slider-inner {
  max-width: 280px;
  position: relative;
  margin-top: 32px;
  
  @media (max-width: $width-mobile-only) {
    margin-left: auto;
  }
  
  @media (min-width: 550px) {
    max-width: 346px;
    margin-top: 20px;
    padding-bottom: 38px;
  }

  @media (min-width: 1050px) {
    max-width: 425px;
  }

  @media (min-width: $width-desktop) {
    margin-top: 70px;
  }

  @media (max-width: 1024px) {
    margin-left: auto;
    margin-right: auto;
  }
}

.about-us__slider-list {
  height: 414px;
  position: relative;
  
  &::before {
    content: "";
    position: absolute;
    top: -12px;
    left: 12px;
    width: 280px;
    height: 380px;
    border: 4px solid #fff;
    
    @media (min-width: 370px) {
      top: -15px;
      left: 17px;    
    }

    @media (min-width: 550px) and (max-width: 1024px) {
      height: 455px;
      width: 315px;
    }

    @media (min-width: 1025px) {
      height: 414px;
      width: 300px;
    }
  }
  
  @media (min-width: $width-tablet) {
    max-width: 461px;
  }
}

.about-us__slider-item {
  width: 100%;
  height: 414px;
  outline: none;

  @media (min-width: 550px) and (max-width: 1024px) {
    height: 455px;
  }
}

.about-us__slide-title {
  width: 180px;
  @include sf-semibold;
  position: absolute;
  text-align: right;
  font-size: 24px;
  line-height: 28px;
  bottom: 73px;
  left: -137px;
  z-index: 5;
  display: none;

  @media (min-width: $width-tablet) {
    display: block;
  }

  @media (min-width: 550px) {
    bottom: 30px;
    left: -150px;
  }
}

.about-us__slide-image {
  object-fit: cover;
  width: 280px;
  height: 380px;
  
  @media (min-width: 550px) and (max-width: 1024px) {
    height: 455px;
    width: 315px;
  }
  
  @media (min-width: 1025px) {
    width: 300px;
    height: 460px;
  }
}

.about-us__slider-btn {
  cursor: pointer;
  position: absolute;
  bottom: 9px;
  right: 20px;
  width: 55px;
  height: 45px;
  background-color: #fff;
  border: 0 none;
  z-index: 30;
  
  svg {
    stroke: #000;
  }
  
  @media (min-width: 550px) {
    width: 60px;
    height: 48px;  
  }
  
  @media (min-width: 550px) and (max-width: 768px) {
    bottom: -139px;
    right: 0;
  }  

  @media (min-width: 769px) and (max-width: 1024px) {
    bottom: -89px;
    right: 31px;
  }  
  
  @media (min-width: 1025px) {
    bottom: -48px;
    right: 48px;
  }

  @media (min-width: 1050px) {
    right: 125px;
  }


  &--prev {
    right: 75px;
    border-right: 1px solid #1c1c1c;
    
    @media (min-width: 550px) and (max-width: 1024px) {
      right: 60px;
    }  
    
    @media (min-width: 769px) and (max-width: 1024px) {
      right: 90px;
    }

    @media (min-width: 1025px) {
      right: 108px;
    }


    @media (min-width: 1050px) {
      right: 185px;
    }
  }
  
  &.slick-disabled {
    background-color: #1c1c1c;
    cursor: default;

    svg {
      stroke: #fff;
    }
  }
}
