$width-mobile-only: 767px;
$width-tablet: 768px;
$width-desktop: 1280px;

.address {
  & .container {
    @media (min-width: 1125px) and (max-width: 1279px) {
      padding-bottom: 115px;
    }

    @media (min-width: $width-desktop) {
      padding-bottom: 140px;
    }
  }
}

.address__tabs-wrapper {
  margin-bottom: 20px;
  
  @media (max-width: 470px) {
    overflow-x: scroll;
  }
}

.address__tabs {
  background-color: rgba(0, 0, 0, 0.45);
  color: #fff;
  width: max-content;
  max-width: 730px;
  min-height: 54px;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  border-radius: 2px;
}

.address__tab {
  font-family: "SFPro-Semibold", "Arial", sans-serif;
  font-weight: 600;
  font-size: 21px;
  line-height: 24px;

  & + .address__tab {
    margin-left: 20px;

    @media (min-width: 768px) {
      margin-left: 30px;
    }
  }

  &--active {
    & .address__tab-title {
      opacity: 0.6;
    }
  }
}

.address__tab-title {
  padding-bottom: 2px;
}

.address__item-wrapper {
  display: none;

  &--active {
    display: block;
  }
}

.address__item-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  position: relative;

  @media (min-width: 1110px) {
    flex-wrap: nowrap;
  }  
}

.address__city {
  font-size: 24px;
  margin-bottom: 15px;
  padding-left: 25px;
}

.address__list {
  max-width: 730px;
  background-color: rgba(0, 0, 0, 0.45);
  display: flex;
  color: #fff;
  flex-direction: column;
  flex-grow: 1;
  border-radius: 2px;
  overflow-y: scroll;
  
  @media (min-width: 720px) {
    min-width: 680px;
    max-height: 434px;
    overflow-y: scroll;
    flex-wrap: wrap;
    overflow-y: hidden;
    flex-direction: row;
  }
  
  @media (max-width: 719px) {
    max-height: 280px;
  }
}

.address__item {
  padding: 0 15px;
  margin-bottom: 5px;
  margin-bottom: 0;
  position: relative;
  text-align: center;
  
  &::before {
    content: "";
    position: absolute;
    width: 17px;
    height: 23px;
    background-image: url(../images/map-marker.svg);
    background-size: 16px 23px;
    background-repeat: no-repeat;
    top: 20px;

    @media (max-width: 719px) {
      background-image: none;
    }
  }

  @media (min-width: 720px) {
    text-align: left;
  }

  @media (min-width: 768px) {
    padding: 0 35px;
  }
}

.address__item-text {
  font-size: 18px;
  
  @media (min-width: 720px) {
    padding-left: 30px;
  }
}

.address__mode {
  @media (min-width: 768px) {
    visibility: hidden;
  }

  &.wow {
    @media (min-width: 768px) {
      visibility: visible;
    }
  }

  @media (max-width: 1109px) {
    width: 100%;
  }
}

.address__mode-text {
  font-size: 30px;
  width: 100%;
  margin-top: 62px;
  text-align: center;
  line-height: 38px;
  color: #fff;
  
  @media (min-width: 1110px) {
    width: 300px;
    margin-left: 90px;
  }
}

.address__map {
  @media (min-width: $width-tablet) {
    background-image: url(../images/map-bg.jpg);
    background-size: cover;
  }
}
