@mixin sf-semibold {
  font-family: "SFPro-Semibold", "Arial", sans-serif;
  font-weight: 600;
}

.menu__wrapper {
  display: flex;

  @media (max-width: 1279px) {
    flex-direction: column;
  }
}

.menu__tabs-wrapper {
  margin-bottom: 20px;
  
  @media (max-width: 900px) {
    overflow-x: scroll;
  }
}

.menu__tabs {
  background-color: rgba(0, 0, 0, 0.45);
  color: #fff;
  width: max-content;
  max-width: 827px;
  min-height: 54px;
  padding: 15px 20px;
  display: flex;
  justify-content: flex-start;
  border-radius: 2px;
  
  @media (min-width: 901px) {
    justify-content: space-between;
  }
}

.menu__tab {
  font-family: "SFPro-Semibold", "Arial", sans-serif;
  font-weight: 600;
  font-size: 21px;
  line-height: 24px;

  & + .menu__tab {
    margin-left: 20px;
  }

  &--active {
    & .menu__tab-title {
      opacity: 0.6;
    }
  }
}

.menu__inner {
  background-color: rgba(0, 0, 0, 0.45);
  color: #fff;
  width: 100%;
  padding: 8px;
  border-radius: 2px;
  margin: 0 auto;

  @media (min-width: 520px) {
    width: 450px;
    padding: 10px;
  }

  @media (min-width: 880px) {
    width: 827px;
    margin: 0;
  }
}

.menu__columns {
  display: flex;
  position: relative;
}

.menu__box {
  margin: 20px 0;
  display: none;
  
  &--active {
    display: block;
  }

  &--coffee {
    margin: 0;
    column-count: 2;

    &.menu__box--active {
      @media (max-width: 879px) {
        display: flex;
        flex-direction: column;
      }
    }

    & .menu__item-cell--title {
      @media (max-width: 379px) {
        font-size: 15px;
      }

      @media (max-width: 519px) {
        min-width: 150px;
        padding: 5px;
      }

      @media (max-width: 379px) {
        min-width: 130px;
      }

      @media (min-width: 520px) and (max-width: 879px) {
        min-width: 220px;
      }
    }
  }

  &--toppings {
    & .menu__item-cell {
      &--title {
        min-width: 200px;
      }
    }
    
    &.menu__box--active {
      @media (max-width: 879px) {
        display: flex;
        flex-direction: column;
      }
    }
    
    @media (min-width: 880px) {
      column-count: 2;
    }

    @media (max-width: 519px) {
      width: 100%;
    }
  }

  &--desserts {
    & .menu__item-cell--title {
      min-width: 198px;
    }
    
    @media (max-width: 519px) {
      width: 100%;
    }
  }
}
  
.menu__box-coffee {
  margin-bottom: 10px; 

  tbody {
    width: 400px;
  }

  @media (max-width: 519px) {
    width: 100%;
  }
}

.menu__box-topping {
  &:last-child {
    margin-top: -2px; 
  }

  @media (max-width: 519px) {
    width: 100%;
  }
}

.menu__box-desserts {
  @media (max-width: 519px) {
    width: 100%;
  }
}

.menu__box-wrapper {
  column-count: 2;
}

.menu__item {
  color: #fff;
}

.menu__item-cell {
  padding: 5px 10px;
  
  @media (max-width: 519px) {
    width: 77px;
  }
  
  @media (max-width: 379px) {
    font-size: 15px;
  }

  &--title {
    background-color: transparent;
    color: #fff;
    padding-right: 15px;
    line-height: 19px;
    padding-left: 5px;
  }

  &--second {
    background-color: #ad7c51;
    color: #fff;
    text-align: center;
    line-height: 19px;
    min-width: 68px;
  }

  &--third {
    background-color: #d6af7b;
    color: #fff; 
    text-align: center;
    min-width: 68px;
  }

  &--hidden {
    font-size: 0;
  }

}

.menu__toggles {
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.45);
  color: #fff;
  margin-bottom: 20px;
  border-radius: 2px;
}

.menu__toggle {
  cursor: pointer;
  @include sf-semibold;
  font-size: 21px;
  line-height: 24px;
  padding: 15px 20px;
}

.menu__order-text {
  max-width: 715px;
  padding: 0 15px;
  font-size: 18px;

  @media (min-width: 880px) {
    padding-top: 23px;
  }
}

.menu__order-phone {
  @include sf-semibold;

  &:hover {
    text-decoration: underline;
  }
}

.menu__order-btn {
  @include sf-semibold;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  padding: 6px 20px;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 8px;
  margin-left: 15px;
  text-transform: uppercase;
  transition: all .3s;
  
  &:hover {
    background-color: #fff;
    color: #000;
  }

  @media (max-width: 879px) {
    display: block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
}

.menu__aside {
  @media (min-width: 768px) {
    visibility: hidden;
  }

  &.wow {
    @media (min-width: 768px) {
      visibility: visible;
    }
  }
}

.menu__aside-text {
  font-size: 30px;
  margin-left: 90px;
  margin-top: 67px;
  width: 300px;
  text-align: center;
  line-height: 38px;
  color: #fff;
  
  @media (max-width: 1279px) {
    margin-left: 0;
    width: 100%;
    max-width: 810px;
    margin: 30px auto 0;
  }
  
  @media (max-width: 680px) {
    font-size: 28px;
  }

  @media (min-width: 768px) and (max-width: 1279px) {
    margin-top: 40px;
  }
}
