@mixin sf-semibold {
  font-family: "SFPro-Semibold", "Arial", sans-serif;
  font-weight: 600;
}

@mixin sf-regular {
  font-family: "SFPro-Regular", "Arial", sans-serif;
  font-weight: 400;
}

$width-mobile-only: 767px;
$width-tablet: 768px;
$width-desktop: 1280px;

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .8);
  top: 0;
  left: 0;
  z-index: 100;
  color: #fff;
  opacity: 0;
  visibility: hidden;
  transition: all .3s;


  &:target {
    opacity: 1;
    visibility: visible;
  }
  
  &--active {
    & .popup__content {
      animation-name: popup-animation;
      animation-duration: .7s;
      animation-timing-function: ease-out;
    }
  }
}

.popup__area {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

.popup__body {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 15px;
}

.popup__content {
  background-image: linear-gradient(156deg, #d6af7b 51%, #ad7c51 51%);
  color: #000;
  padding: 15px;
  max-width: 800px;
  position: relative;
  border-radius: 3px;
  
  @media (min-width: 480px) {
    padding: 30px;
  }
}

.popup__close {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 15px;
  top: 15px;
  transition: .3s;
  cursor: pointer;

  &::before, &::after {
    content: '';
    background-color: #000;
    position: absolute;
    right: 14px;
    top: 8px;
    height: 15px;
    width: 2px;
    background-size: cover;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  } 
}

.popup__title {
  @media (min-width: 480px) {
    margin-left: 1em;
    text-align: center;  
  }

  @media (min-width: $width-desktop) {
    font-size: 25px;
  }

  @media (max-height: 680px) {
    margin-bottom: 20px;
  }
}

.popup__text {
  font-size: 14px;
  line-height: 19px;
  margin-bottom: 20px;
  
  @media (min-width: 480px) {
    font-size: 16px;
    line-height: 22px;  
  }

  @media (max-height: 680px) {
    display: none;
  }
}

.popup__order-form {
  display: flex;
  flex-wrap: wrap;
}

.popup__order-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  
  @media (min-width: 480px) {
    margin-right: 10px;
  }

  @media (min-width: $width-tablet) {
    width: 45%;
  }

  &--other {
    width: 100%;
    margin-bottom: 15px;
  }
}

.popup__order-label {
  margin-bottom: 10px;
  
  &--block {
    display: block;
    @include sf-semibold;
    font-size: 15px;

    @media (min-width: 450px) {
      font-size: 17px;
    }
  }

  &--firstcolumn, &--secondcolumn {
    display: flex;
    justify-content: space-between;

    @media (min-width: 480px) {
      justify-content: start;
    }
  }

  &--firstcolumn {
    & .popup__label-text {
      @media (min-width: 480px) and (max-width: 767px) {
        min-width: 156px;
      }
    }
  }

  &--secondcolumn {
    & .popup__label-text {
      @media (min-width: 480px) {
        min-width: 156px;
      }
    }
  }
  
  @media (min-width: 480px) and (max-width: 767px) {
    min-width: 343px;
  }
}

.popup__label-text {
  @include sf-semibold;
  font-size: 15px;
  line-height: 19px;
  align-self: center;
  margin-right: 5px;
  
  @media (min-width: 450px) {
    font-size: 17px;
  }
  
  @media (min-width: 480px) {
    min-width: 100px;
    margin-right: 0;
  }
  
  @media (max-width: 380px) {
    max-width: 76px;
  }
}

.popup__order-input {
  width: 195px;
  padding: 5px;

  @media (max-width: 479px) {
    max-width: 266px;
    min-height: 38px;
    flex-grow: 1;
  }
}

.popup__order-cakelist {
  width: 195px;

  &.opened {
    .jq-selectbox__trigger-arrow {
      transform: rotate(180deg);
    }
  }
}

.popup__order-textarea {
  width: 100%;
  resize: none;
  padding: 8px;
  @include sf-regular;
  
  @media (min-width: 600px) {
    width: 75%;
  }
}

.popup__order-textarea, .popup__order-input {
  background-color: rgba(#000, 0.5);
  border: 0 none;
  border-radius: 2px;
  color: #fff;
  font-size: 15px;

  &::placeholder {
    color: rgba(#fff, 0.7);  
  }

  &:focus-within {
    &::placeholder {
      opacity: 0;
    }
  }
}

.popup__order-btn {
  display: block;
  @include sf-semibold;
  background-color: transparent;
  border: 1px solid #1c1c1c;
  color: #000;
  padding: 6px 10px;
  border-radius: 3px;
  cursor: pointer;
  text-transform: uppercase;
  transition: all .3s;
  font-size: 13px;
  
  &:hover {
    background-color: #1c1c1c;
    color: #fff;
    border-color: #1c1c1c;
  }

  @media (min-width: 768px) {
    margin-right: 8px;
  }
  
  @media (min-width: 455px) {
    font-size: 16px;
    padding: 6px 20px;
  }
  
  @media (max-width: 479px) {
    min-height: 43px;
    width: 100%;
  }
}

.jq-selectbox {
  transition: all .3s;

  &:hover {
    .jq-selectbox__trigger-arrow {
      border-top-color: rgba(#fff, 0.4);
    }
  }

  & li {
    padding: 5px 10px;

    &.selected {
      background-color: #d6af7b;
    }

    &:hover {
      background-color: #d6af7b;
    }
  }

  &.focused .jq-selectbox__select {
    border-color: rgba(#000, -0.5);
  }
}

.jq-selectbox__select {
  background: rgba(#000, 0.5);
  border: 1px solid rgba(#000, -0.5);
  border-radius: 2px;
  color: #fff;
  font-size: 15px;
  box-shadow: none;
  padding-left: 0;

  &:hover {
    background: rgba(#000, 0.5); 
  }

  &:active {
    box-shadow: none;
  }

  @media (max-width: 479px) {
    min-height: 38px;
  }
}

.jq-selectbox__select-text {
  padding-left: 5px;
  text-shadow: none;

  @media (max-width: 479px) {
    padding-top: 2px;
  }
}

.jq-selectbox__trigger {
  border-left: 0 none;
}

.jq-selectbox__trigger-arrow {
  border-top: 5px solid rgba(#fff, 0.8);
}

.jq-selectbox__dropdown {
  border: 0 none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-radius: 3px;
}

@keyframes popup-animation {
  0% {
    transform: translateY(-200%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes popup-animation2 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(200%);
  }
}
