@mixin sf-semibold {
  font-family: "SFPro-Semibold", "Arial", sans-serif;
  font-weight: 600;
}

$width-mobile-only: 767px;
$width-tablet: 768px;
$width-desktop: 1280px;

.top {
  width: 100%;
  background-image: url(../images/bg-top.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 30vh;
  background-color: #fff;

  @media (min-width: $width-desktop) {
    padding-top: 140px;
  }

  @media (max-height: 700px) {
  padding-top: 20vh;
  }

  & .container {
    @media (min-width: $width-desktop) {
      padding-bottom: 90px;
    }
  }
}

.top__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top__title {
  @include sf-semibold;
  font-size: 42px;
  line-height: 115px;
  margin-bottom: 10px;
  text-align: center;

  @media (min-width: 440px) {
    font-size: 60px;
  }

  @media (min-width: 510px) {
    font-size: 70px;
  }

  @media (min-width: 771px) {
    font-size: 96px;
    margin-bottom: 30px;
  }
}

.top__text {
  width: 400px;
  margin-bottom: 35px;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  max-height: 225px;
  overflow-y: scroll;
  
  @media (max-width: 440px) {
    width: 100%;
    text-align: center;
    font-size: 16px;
  }
  
  @media (max-width: 770px) {
    margin-top: 0;
    margin-bottom: 14px;
  }
  
  @media (min-width: 1200px) {
    overflow-y: hidden;
  }  
}

.top__social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 370px;
}

.top__social-item {
  font-size: 0;

  & + .top__social-item {
    margin-left: 50px;
  }

  &:hover {
    .top__social-link {
      opacity: 1;
    }
  }
}

.top__social-link {
  width: 40px;
  height: 40px;
  opacity: .5;
  transition: all .3s;
}

.top__social-image {
  width: 40px;
  height: 40px;
  fill: #1c1c1c;
}
